BOT_TOKEN=
GOOGLE_SHEET_ID=
GOOGLE_WORKSHEET_NAME=Оприходование

GROUP_CHAT_ID=
RETURNS_TOPIC_ID=
RECEIVING_REPORT_TOPIC_ID=

GOOGLE_CREDENTIALS_PATH=google_credentials.json

PAYROLL_GOOGLE_SHEET_ID=
PAYROLL_REPORT_TOPIC_ID=
PAYROLL_PENALTIES_TOPIC_ID=