BOT_TOKEN=8822936305:AAGPYaUnYaQqAki_TxKjdYXvyY6e1ZnWsXk
GOOGLE_SHEET_ID=1s1i7_iebJ8yhLtWdYS4kvF-5lZSh185KfJr0_RWvXf4
GOOGLE_WORKSHEET_NAME=Оприходование

GROUP_CHAT_ID=-1003773664379
RETURNS_TOPIC_ID=3
RECEIVING_REPORT_TOPIC_ID=2

GOOGLE_CREDENTIALS_PATH=google_credentials.json

PAYROLL_GOOGLE_SHEET_ID=1JrPY6Hm9tc5Vrq3Y3mAaEtqkfj2jAyXubQJ7EtxMb_k
PAYROLL_REPORT_TOPIC_ID=42